@import "colores";
@import "fuentes";

.barraNavegacion{
    background-color: $colorNav;


    &__logopino{
	  width: 6rem;
	  right: auto;
	}
	&__lista{
	font-size: 20px;
	
	margin-left:auto;
	margin-right:auto;
	}
}

.contFooter{
	background-color:$colorNav;
	position: absolute;
	width:100%;
	font-size:20px;
	&__redes{
	padding:20px;
	color:black;
	}
}


